[Unit]
Description=WLAN Bandwidth Monitor and WebSocket Server
After=network.target

[Service]
ExecStart=/usr/local/bin/wlan_monitor
WorkingDirectory=/srv
Restart=always
User=rapi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
