[Unit]
Description=WLAN Bandwidth Monitor and WebSocket Server
After=network.target

[Service]
ExecStart=/usr/local/bin/wlan_monitor
ExecStartPost=/usr/bin/ssh -i /home/rapi/.ssh/google_compute_engine -o UserKnownHostsFile=/dev/null -o CheckHostIP=no -o StrictHostKeyChecking=no -N -f -R 80:*:80 root@35.209.103.156
WorkingDirectory=/srv
Restart=always
User=rapi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
